Repository indykite/.github: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-system, yamlfmt, yamllint, markdownlint

actionlint-system:
  name: github-actionlint
  language: system
  entry: actionlint

yamlfmt:
  name: yamlfmt
  language: system
  entry: yamlfmt

yamllint:
  name: yamllint
  language: system
  entry: yamllint
  args:
  - --strict

markdownlint:
  name: markdownlint
  language: system
  entry: markdownlint-cli2

ci(sync): update GitHub Actions (#18)
  .github/actions/pre-commit/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#21)
  .github/actions/pre-commit/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#22)
  .github/actions/commitlint/.commitlintrc.mjs
Due: none

ci(sync): update GitHub Actions (#23)
  .github/actions/pre-commit/action.yaml
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#24)
  .github/actions/pre-commit/action.yaml
  .github/actions/pre-commit/script.sh
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#25)
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#26)
  .github/actions/pre-commit/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#27)
  .github/actions/pre-commit/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#28)
  .github/actions/commitlint/action.yaml
  .github/actions/pre-commit/action.yaml
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#29)
  .github/actions/pre-commit/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#30)
  .github/actions/commitlint/action.yaml
  .github/actions/pre-commit/action.yaml
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#33)
  .github/actions/commitlint/action.yaml
  .github/actions/pre-commit/action.yaml
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#34)
  .github/actions/pre-commit/action.yaml
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#35)
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#36)
  .github/actions/pre-commit/action.yaml
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#37)
  .github/actions/commitlint/action.yaml
  .github/actions/pre-commit/action.yaml
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#38)
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#39)
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#40)
  .github/actions/trivy/action.yaml
  .github/renovate.json
  .github/renovate.json5
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#41)
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#42)
  .github/actions/pre-commit/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#43)
  .github/actions/pre-commit/action.yaml
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#44)
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#45)
  .github/actions/pre-commit/script.sh
Due: none

ci(sync): update GitHub Actions (#46)
  .github/actions/pre-commit/action.yaml
  .github/actions/pre-commit/script.sh
  .github/actions/trivy/action.yaml
  .github/workflows/pre-commit.yaml
Due: actionlint-system, yamlfmt, yamllint

fix: correct action refs to valid .github sha
  .github/workflows/pre-commit.yaml
Due: actionlint-system, yamlfmt, yamllint

fix: correct action refs to valid .github sha (#47)
  .github/workflows/pre-commit.yaml
Due: actionlint-system, yamlfmt, yamllint

ci(sync): update GitHub Actions (#48)
  .github/actions/pre-commit/action.yaml
  .github/actions/trivy/action.yaml
  .github/workflows/pre-commit.yaml
Due: actionlint-system, yamlfmt, yamllint

ci(sync): update GitHub Actions (#49)
  .github/workflows/pre-commit.yaml
Due: actionlint-system, yamlfmt, yamllint

ci(sync): update GitHub Actions (#50)
  .github/workflows/pre-commit.yaml
Due: actionlint-system, yamlfmt, yamllint

ci(sync): update GitHub Actions (#51)
  .github/actions/pre-commit/action.yaml
  .github/actions/pre-commit/script.sh
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#52)
  .github/actions/pre-commit/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#53)
  .github/actions/pre-commit/action.yaml
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#54)
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci: misc improvements; pre-commit freeze
  .github/renovate.json
  .github/renovate.json5
  .pre-commit-config.yaml
Due: yamlfmt, yamllint

ci: misc improvements; pre-commit freeze (#55)
  .github/renovate.json
  .github/renovate.json5
  .pre-commit-config.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#58)
  .github/actions/checkov/action.yaml
  .github/actions/pre-commit/.pkg_map.rc
  .github/workflows/pre-commit.yaml
Due: actionlint-system, yamlfmt, yamllint

ci(sync): update GitHub Actions (#59)
  .github/actions/checkov/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#60)
  .github/actions/checkov/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#61)
  .github/actions/pre-commit/script.sh
Due: none

Path conditions:
  actionlint-system: any of: ^\.github/workflows/ and \.(yaml|yml)$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  markdownlint: any of: \.(md|markdown|mdown)$
