Repository indykite/.github: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-system, yamlfmt, yamllint, markdownlint

Path conditions:
  actionlint-system: any of: ^\.github/workflows/ and \.(yaml|yml)$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
  markdownlint: any of: \.(md|markdown|mdown)$

ci(sync): update GitHub Actions (#62)
  .github/actions/checkov/action.yaml
  .github/actions/commitlint/.commitlintrc.mjs
  .github/actions/commitlint/action.yaml
  .github/actions/pre-commit/action.yaml
  .github/actions/pre-commit/script.sh
  .github/actions/trivy/action.yaml
  .github/workflows/pre-commit.yaml
Due: actionlint-system, yamlfmt, yamllint

ci(sync): update GitHub Actions (#63)
  .github/actions/pre-commit/.pkg_map.rc
Due: none

ci(sync): update GitHub Actions (#64)
  .github/actions/pre-commit/action.yaml
  .github/actions/pre-commit/script.sh
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#66)
  .github/actions/pre-commit/action.yaml
Due: yamlfmt, yamllint

Create SECURITY.md
  SECURITY.md
Due: markdownlint

Create SECURITY.md (#67)
  SECURITY.md
Due: markdownlint

ci(sync): update GitHub Actions (#68)
  .github/workflows/pre-commit.yaml
Due: actionlint-system, yamlfmt, yamllint

chore: security.md linting
  SECURITY.md
Due: markdownlint

chore: security.md linting (#69)
  SECURITY.md
Due: markdownlint

ci(sync): update GitHub Actions (#70)
  .github/workflows/pre-commit.yaml
Due: actionlint-system, yamlfmt, yamllint

ci(sync): update GitHub Actions (#71)
  .github/actions/terraform-validate/action.yaml
  .github/actions/terraform-validate/tf_validate.sh
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#72)
  .github/actions/checkov/action.yaml
  .github/actions/commitlint/action.yaml
  .github/actions/pre-commit/action.yaml
  .github/actions/terraform-validate/action.yaml
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#73)
  .github/actions/pre-commit/.pkg_map.rc
Due: none

ci(sync): update GitHub Actions (#74)
  .github/workflows/pre-commit.yaml
Due: actionlint-system, yamlfmt, yamllint

ci(sync): update GitHub Actions (#75)
  .github/actions/terraform-validate/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#76)
  .github/actions/terraform-validate/action.yaml
  .github/actions/terraform-validate/tf_validate.sh
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#77)
  .github/actions/git-fetch-depth/action.yaml
  .github/actions/terraform-validate/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#78)
  .github/actions/pre-commit/.pkg_map.rc
  .github/actions/pre-commit/download-istioctl.sh
Due: none

ci(sync): update GitHub Actions (#79)
  .github/actions/pre-commit/download-istioctl.sh
Due: none

ci(sync): update GitHub Actions (#81)
  .github/actions/checkov/action.yaml
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#82)
  .github/actions/trivy/action.yaml
  .github/workflows/pre-commit.yaml
Due: actionlint-system, yamlfmt, yamllint

ci(sync): update GitHub Actions (#83)
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#84)
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#85)
  .github/actions/checkov/action.yaml
  .github/actions/commitlint/action.yaml
  .github/actions/pre-commit/action.yaml
  .github/actions/terraform-validate/action.yaml
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#86)
  .github/actions/checkov/action.yaml
  .github/actions/commitlint/action.yaml
  .github/actions/git-checkout/action.yaml
  .github/actions/pre-commit/action.yaml
  .github/actions/terraform-validate/action.yaml
  .github/actions/trivy/action.yaml
  .github/workflows/pre-commit.yaml
Due: actionlint-system, yamlfmt, yamllint

ci(sync): update GitHub Actions (#87)
  .github/actions/checkov/action.yaml
  .github/actions/pre-commit/action.yaml
  .github/actions/pre-commit/download-istioctl.sh
  .github/actions/terraform-validate/action.yaml
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#88)
  .github/actions/checkov/action.yaml
  .github/actions/pre-commit/action.yaml
  .github/actions/terraform-validate/action.yaml
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#89)
  .github/actions/docker-build/README.md
  .github/actions/docker-build/action.yaml
  .github/actions/docker-setup/README.md
  .github/actions/docker-setup/action.yaml
  .github/actions/git-checkout/action.yaml
  .github/actions/pre-commit/action.yaml
  .github/actions/pre-commit/download-istioctl.sh
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint, markdownlint

ci(sync): update GitHub Actions (#90)
  .github/actions/pre-commit/action.yaml
  .github/actions/pre-commit/script.sh
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#91)
  .github/actions/docker-build/README.md
  .github/actions/docker-setup/README.md
  .github/actions/pre-commit/action.yaml
  .github/actions/pre-commit/script.sh
Due: yamlfmt, yamllint, markdownlint

ci(sync): update GitHub Actions (#93)
  .github/actions/docker-setup/action.yaml
  .github/actions/pre-commit/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#94)
  .github/actions/pre-commit/script.sh
Due: none

ci(sync): update GitHub Actions (#95)
  .github/actions/checkov/action.yaml
  .github/actions/docker-setup/action.yaml
  .github/actions/pre-commit/action.yaml
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#96)
  .github/actions/pre-commit/action.yaml
  .github/actions/pre-commit/prepare-env.sh
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#98)
  .github/actions/pre-commit/script.sh
  .github/actions/terraform-validate/action.yaml
Due: yamlfmt, yamllint

ci(sync): update GitHub Actions (#99)
  .github/actions/checkov/action.yaml
  .github/actions/pre-commit/action.yaml
  .github/actions/trivy/action.yaml
  .github/workflows/pre-commit.yaml
Due: actionlint-system, yamlfmt, yamllint

ci(sync): update GitHub Actions (#100)
  .github/actions/pre-commit/prepare-env.sh
Due: none

ci: 3rd-party licenses
  .trivy.yaml
  LICENSES.md
Due: yamlfmt, yamllint, markdownlint

fix(deps): sanitize all whitespace in PRE_COMMIT_SKIP
  .github/actions/pre-commit/action.yaml
Due: yamlfmt, yamllint

fix: remove invalid public trivy notifier
  .github/actions/trivy/action.yaml
Due: yamlfmt, yamllint
